{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="{% static 'food/custom.css'%}" type="text/css"/>
    <title>Food</title>
  </head>
  <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <p class="navbar-brand mb-1 mt-1">
                <img src="{% static 'food/images/logo.jpg' %}" width=30 height=30> Ghaza
            </p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav mr-4" href="{% url 'index'%}">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav mr-4" href="{% url 'food-list'%}">Foods</a>  
                    </li>
                    <li class="nav-item active">
                        <a class="nav mr-4" href="{% url 'wallet'%}">Wallet </a>  
                    </li>
                    <li class="nav-item active">
                        <a class="nav mr-4" href="#">About</a>  
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %} 
                    <li class="nav-item active align-self-center">
                        <a class="nav mr-3" href={% url 'logout'%}>Logout</a>
                    </li>
                    <li class="nav-item active align-self-center">
                        <p class="nav mt-1 mb-1"> Welcome {{user}}</p>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav mr-4" href="{% url 'login'%}">Login</a>  
                    </li>
                    <li class="nav-item active">
                        <a class="nav" href="{% url 'register'%}">Register</a>  
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <h3><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></h3>
            {% endfor %}
            </ul>
        {% endif %}
        <div class="main2 align-self-lg-bottom container-fluid pt-auto">
        
            <div class="container-xl bg-light border border-dark p-4">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="pt-3 fixed-bottom bg-dark text-white text-center text-small">
            <p class="">&copy; 2020 Shebeli</p>
                <a href="#">Github</a>
        </footer>
  </body>
</html>
