{% extends 'food/base3.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form method="post" action="{% url 'login' %}" class="form">
        {% csrf_token %}
        {{ form|crispy }}
        {{ buttons }}
            <button name="submit" class="btn btn-primary">Log in</button>
        {{ endbuttons }}
    <a href="#">Forgot password?</a>

        <input type="hidden" name="next"
               value="{% url 'index' %}" />
<a href="{% url "social:begin" "google-oauth2" %}" class="float-right">Google+</a>
</form>

{% endblock %}