{% extends 'food/base.html' %}

{% load crispy_forms_tags %}

{% block content %}


<form method='POST'>
    {% csrf_token %}
    {{ form.username|as_crispy_field}}
    <div class="row">
        <div class="col-6">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.last_name|as_crispy_field }}
        </div>
    </div>
    {{ form.phone_number|as_crispy_field}}
    {{ form.email|as_crispy_field }}
    {{ form.password1|as_crispy_field }}
    {{ form.password2|as_crispy_field }}
    <button type="button" class="btn btn-success">Register</button>
</form>
    
{% endblock%}