{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body class="bg-secondary">  
<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
  <a class="navbar-brand" href="#">Write down your list!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
    <main role="main" class="container mb-5 mt-3 bg-light">
        <div class="border border-dark">
            {% block page_header %}{% endblock %}
            {% block page_form %}{% endblock %}
        </div>
    </main>
    <div>
            {% block content %}{% endblock %}
    </div>
</body>
</html>